@charset "utf-8";

@import "_lib";

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
}

body, input, textarea, select, button, table {
	background-color: transparent;
	border: 0;
	box-shadow: none;
	-webkit-appearance: none;
	outline: none !important;
}

button {
    cursor: pointer;
}
// NOTE ie button effect default
button:active .txt,
button:active .ieBtn,
button:active:before,
button:active:after,
button:focus .txt,
button:focus .ieBtn,
button:focus:before,
button:focus:after{
	position: relative;
	top: 0;
	left: 0;
}

html {
  height: 100%;
  font-size: $root-em * 1px;
  line-height: $root-em * 1px;
}

body {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
//    -webkit-user-select: none;
    height: 100%;
    font-family: $font-family;
    @include rfonts($initial-font-size, $initial-line-height, 400);
    &.lylicSection {
        overflow: hidden;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

em, address {
  font-style: normal;
}

img, fieldset {
  border: 0;
}

img {
	display: block;
}

ul, ol, dl {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.blind {
  @extend %visuallyhidden;
}

.table {
	display: table;
	table-layout:fixed;
	width: 100%;
	height: 100%;
	.table-caption {
		display: table-caption;
	}
	.table-row {
		display: table-row;
		vertical-align: middle;
	}
	.table-cell {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
	}
}

.pdcm {
    clear: both;
}

/* Webkit */
::-webkit-input-placeholder {
  color: #d3d5d8;
}

/* Firefox 4-18 */
:-moz-placeholder {
  color: #d3d5d8;
}

/* Firefox 19+ */
::-moz-placeholder {
  color: #d3d5d8;
}

/* IE10+ */
:-ms-input-placeholder {
  color: #d3d5d8;
}
