@charset "utf-8";
@import "_lib";

// NOTE heading
h1 {
	margin-bottom: 20px;
	border-bottom: 1px solid #000;
	@include rfonts(24,28,700);
}
h2 {
	margin-bottom: 20px;
	border-bottom: 1px solid #aaa;
	color: #aaa;
	@include rfonts(22,26,700);
}

// NOTE wrap
.wrap {
}

// NOTE container
.container {
}


// NOTE content
.content {
	padding: 20px;
}

// NOTE TABLE
.table {
	&.typeA {
		.table-caption {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 1px;
			height: 1px;
			font-size: 0;
			color: transparent;
		}
		.table-cell {
			border: 1px solid #aaa;
			&:not(:last-child) {
				border-right: 0;
			}
		}
	}
}