@charset "utf-8";
@import "_lib";

// NOTE wrap
.wrap {
	position: relative;
	width: 100%;
	min-width: $full-min-width;
	height: 100%;
}

// NOTE container
.container {
	clear: both;
	z-index: 1;
	position: relative;
	float: left;
	width: 100%;
}


// NOTE content
.content {
	float: left;
	z-index: 1;
	position: relative;
	width: 970px;
	margin-left: 144px;
	padding-bottom: $player_static_h + 130;
	padding-top: 54px;
	.article {
		position: relative;
	}
}