$font-family: '나눔고딕',NanumGothic,'Apple SD Gothic Neo',AppleGothic,'Droid Sans','Helvetica Neue',Helvetica,Roboto,'돋움',Dotum,Gulim,'굴림',sans-serif;
$font-size: 14px;
$background-color-common: #fff;
$placeholder-text-color: #b3b8be;
