<!DOCTYPE html>
<html lang="ko">
<head>
<title>vending_machine</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://smilesol85.github.com/assets/css/bootstrap.css">
    <link rel="stylesheet" href="http://smilesol85.github.com/assets/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="http://smilesol85.github.com/common/common.css">
    <link rel="stylesheet" type="text/css" href="css/vending_machine.css">
    <script src="http://smilesol85.github.com/common/jquery.js"></script>
    <script src="http://smilesol85.github.com/assets/js/bootstrap.js"></script>
    <script src="http://smilesol85.github.com/common/common.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="page-header">
                <script>var sTitle = 'vending_machine';</script>
                <script src="http://smilesol85.github.com/common/header.js"></script>
            </div>
            <div class="lead">
            </div>
            <div id="content">
                <section>
                    <div class="vending_machine">
                        <div><label for="balance">잔액</label> <input type="text" id="balance" disabled="disabled"> 원</div>
                        <ul class="product"></ul>
                        <div class="console"></div>
                    </div>
                    <div class="person">
                        <div class="message">
                            <div class="name">Steve Jobs :)</div>
                            <strong>I am rich! Eat freely!</strong>
                        </div>
                        <div class="wallet"></div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="http://smilesol85.github.com/common/footer.js"></script>
    <script type="text/javascript" src="js/namespace.js"></script>
    <script type="text/javascript" src="js/model.Operate.js"></script>
    <script type="text/javascript" src="js/view.Items.js"></script>
    <script type="text/javascript" src="js/controller.VendingMachine.js"></script>
    <script>
    var oVendingMachine = new controller.VendingMachine();
    </script>
</body>
</html>
