<!DOCTYPE html>
<html lang="en">
<head>
<title>TITLE</title>
 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
<meta content="Corporation" name="keywords">
<meta content="Corporation, information, service, business" name="description">
<meta property="og:title" content="Corporation">
<meta property="og:image" content=".png">
<meta property="og:type" content="company">
<meta property="og:site_name" content="Corporation">
<meta property="og:url" content="http://www.com/">

<!-- title bar customise android 5.0 이상 -->
<meta name="theme-color" content="#53A6DC">
<!-- //title bar customise android 5.0 이상 -->
  
<link rel="apple-touch-icon" type="image/png" href=".png">
<link rel="apple-touch-icon-precomposed" type="image/png" href=".png">
<link rel="shortcut icon" href=".ico">

<!-- common -->
<link rel="stylesheet" href="../css/stylesheet.min.css">
<!-- //common -->
</head>
<body>
<div></div>
	<div class="test">
		test
	</div>
<ul id="subscribe" class="horizontal">
<li><a class="arrow-arrow_help" href="/itunes">a</a></li>
<li><a class="arrow-arrow_info" href="/twitter">a</a></li>
<li><a class="arrow-arrow_link_pc" href="/facebook">a</a></li>
<li><a class="arrow-rss" href="/rss">a</a></li>
</ul>
<div class="sp_test">
    aaaa
</div>
</body>
</html>
