<!DOCTYPE html>
<html>
<head>
<title>TITLE</title>
<meta charset="utf-8">
<!--
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-capable" content="yes">
-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<!--
<link rel="apple-touch-icon" href="img/AppIcon60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/AppIcon72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/AppIcon114x114.png">
<link rel="apple-touch-startup-image" href="img/LaunchImage.png">
-->
<link href="http://smilesol85.github.com/blabla/common/stylesheet.min.css" rel="stylesheet" type="text/css" >
<link href="http://code.jquery.com/qunit/qunit-git.css" rel="stylesheet" type="text/css">
<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://code.jquery.com/qunit/qunit-git.js"></script>
<!--
<script src="https://raw.githubusercontent.com/jashkenas/underscore/master/underscore.js"></script>
<script src="https://raw.githubusercontent.com/jashkenas/backbone/master/backbone.js"></script>
<script src="http://www.jsviews.com/download/jsviews.min.js"></script>
<script src="http://www.jsviews.com/download/jsrender.min.js"></script>
<script src="http://www.jsviews.com/download/jquery.observable.min.js"></script>
-->
</head>
<body>
<h1>h1 1 2 3</h1>
<h2>h2 1 2 3</h2>
<h3>h3 1 2 3</h3>
<img src="http://tv01.search.naver.net/ugc?t=r180&q=http://imgnews.naver.com/image/076/2010/07/14/a7o74132_12.jpg" class="check-el-load" width="1" height="1">
<img src="http://tv01.search.naver.net/ugc?t=r180&q=http://imgnews.naver.com/image/076/2010/07/14/a7o74132_12.jpg" class="check-el-load" width="1" height="1">
<img src="http://tv01.search.naver.net/ugc?t=r180&q=http://imgnews.naver.com/image/076/2010/07/14/a7o74132_12.jpg" class="check-el-load" width="1" height="1">
<img src="http://tv01.search.naver.net/ugc?t=r180&q=http://imgnews.naver.com/image/076/2010/07/14/a7o74132_12.jpg" class="check-el-load" width="1" height="1">
<script src="../common/smilesol.min.js"></script>
</body>
</html>
