#back_mirror {
  z-index: 100;
  position: absolute;
}
#control_back_mirror {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 36px;
  padding: 12px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
}
#control_back_mirror .title {
  display: inline-block;
  width: 80px;
}
#control_back_mirror input[type="number"],
#control_back_mirror input[type="text"] {
  width: 100px;
  min-width: 0;
  text-align: right;
}
