<!DOCTYPE html>
<html lang="ko">
<head>
<title>flowText</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.floatText{overflow:hidden;width:100%;background-color:#eee}
		ul{overflow:hidden;position:relative;margin:10px;}
		ul li{float:left;}
		ul li:before{display:inline-block;content:'-';}
	</style>
    <script src="http://smilesol85.github.io/blabla/common/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
				<article class="floatText">
					<ul>
						<li>abcdefgh abcdefgh abcdefgh abcdefgh abcdefgh</li>
						<li>ijklmn ijklmn ijklmn ijklmn ijklmn</li>
						<li>opqrstu opqrstu opqrstu opqrstu opqrstu</li>
						<li>vwxyz vwxyz vwxyz vwxyz vwxyz</li>
					</ul>
				</article>
            </section>
        </div>
    </div>
	<script type="text/javascript" src="js/flowText.js"></script>
	<script>
		var setFlowText = {
			marginList : '20',
			speedFlow : '1000',
			speedRepeat : '2000'
		};
		var oFlowText = new flowText();
	</script>
</body>
</html>
