<!DOCTYPE html>
<html lang="ko">
<head>
<title>infinite scrolling</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	section{position:relative;border-bottom:1px dashed #aaa;background:#eee}
	.txt{position:absolute;bottom:20px;left:20px}
</style>
<script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
                scroll start
            </div>
            <div style="padding-bottom:1000px">
                <div class="txt">
                infinite scrolling<br>
                When resizing the browser scroll initialization
                </div>
            </div>
        </div>
    </div>
    <script src="js/infinite_scroll.js"></script>
</body>
</html>
