<div class="full-height" data-ui-body>
	<div class="sticker_detail_wrap">
		<div class="top_info">
			<div class="thumb"><img src="{{item.mainImage}}" onerror="this.src = fallbackImage(this.src)"></div>
			<div class="info">
				<span class="author">{{item.author}}</span>
				<span class="title">{{item.title}}</span>
				<span class="valid">{{item.validDays|valid}}</span>
				<span class="price">{{item.price}}</span>
			</div>
			<div class="btn_wrap">
				<button type="button" class="btn_gift">선물하기</button>
				<button type="button" class="btn_purchase">구입하기</button>
			</div>
		</div>
		<div class="bottom_info">
			<div class="desc">{{item.desc}}</div>
			<p class="noti_msg">스티커를 선택하면 크게 볼 수 있습니다.</p>
			<div class="sprite_img_wrap">
				<div class="sprite_img_bg">
					<img ng-src="{{item.previewImage}}" class="ng-hide" onload="this.className = '', spriteImage()" onerror="this.src = fallbackImage(this.src)">
					<div class="dimmed"></div>
					<table class="sprite_img_cell">
						<tr data-ng-repeat="stickers in item.itemStickers">
							<td data-ng-repeat="item in stickers">
								<div class="fixPosition">
									<div class="detail_img"><img src="{{item.url}}"></div>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	/*
		스프라이트 이미지의 height가 컨테이너를 결정지
	*/
	function spriteImage() {
		var detailTimer;
		var tdElement = $('.sprite_img_cell td');

		var init = function(){
			var imgSetWidth = $('.sprite_img_bg img').width();
			var imgSetHeight = $('.sprite_img_wrap').height();
			var imgSetRowCount = $('.sprite_img_cell tr').length;
			var imgSetRowHeight = Math.floor((100/imgSetRowCount)*100)/100; // TR element height(%) = 100% / TR element count

			$('.sprite_img_cell').css({
				'width': imgSetWidth,
				'height': imgSetHeight,
				'left': '50%',
				'margin-left': -1*(imgSetWidth/2)
			});

			$('.sprite_img_cell tr').css('height',imgSetRowHeight+'%');
		}();

		var allVisible = function(){
			if($('.detail_img').hasClass('show')){
				$('.detail_img').removeClass('show');
				$('.dimmed').hide();
			}
		}

		tdElement.on('click',function(){
			if(detailTimer){clearTimeout(detailTimer);}
			detailTimer = setTimeout(allVisible, 2000);

			$('.detail_img', tdElement).removeClass('show');
			$('.detail_img', event.target).toggleClass('show');

			if($('.detail_img', tdElement).hasClass('show')){
				$('.dimmed').show();
			}else{
				$('.dimmed').hide();
			}
		});
	}
</script>
