@charset "utf-8";
@import "_lib";

body {
	background-color: #f9f9f9;
	color: #000;
}

#wrap {
	position: relative;
	.header {
		position: relative;
		height: 120px;
		h1 {
			@include rfonts(14, 16, 400);
		}
		.countUpload {
			position: absolute;
			bottom: 10px;
			right: 20px;
			@include rfonts(12, 14, 400);
		}
	}
}

.section {
	width: 100%;
	text-align: center;
}

button {
	padding: 6px 18px;
	background-color: #ba262c;
	color: #fff;
	@include rfonts(20, 24, 400);
}

.upload {
	width: 600px;
	margin: 100px auto 0;
}

.photoList {
	padding: 10px;
	.table-cell {
		padding: 10px;
	}
}
