<!DOCTYPE html>
<html lang="ko">
<head>
<title>TEMPLATE</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="stylesheet" href="../css/stylesheet.min.css" />
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../js/controller.js"></script>
</head>
<body>
<h1>@TEMPLATE</h1>
<div class="wrap">

<!-- container -->
<div class="container">
    <div class="content">
		<h2>TABLE</h2>
		<!--
		class list
		- typeA
		-->
		<div class="table typeA">
			<div class="table-caption">TABLE</div>
			<div class="table-row">
				<div class="table-cell">
					cell A
				</div>
				<div class="table-cell">
					cell B
				</div>
				<div class="table-cell">
					cell C
				</div>
			</div>
		</div>
    </div>
</div>
<!-- //container -->
</div>
</body>
</html>
