<!DOCTYPE html>
<html lang="ko">
<head>
<title>TEMPLATE</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel="stylesheet" href="../css/stylesheet.min.css" />
<script src="../../bower_components/jquery/dist/jquery.js"></script>
<script src="../js/controller.js"></script>
</head>
<body>
<h1>@TEMPLATE</h1>
<div class="wrap">

<!-- container -->
<div class="container">
    <div class="content">
		<h2>TABLE</h2>
		<div class="article">
			<!--
			class list
			- typeA
			-->
			<div class="table typeA">
				<div class="table-caption">TABLE</div>
				<div class="table-row">
					<div class="table-cell">
						cell A
					</div>
					<div class="table-cell">
						cell B
					</div>
					<div class="table-cell">
						cell C
					</div>
				</div>
			</div>
		</div>
		<hr>
		<h2>FILTER</h2>
		<div class="article">
			<div class="ly-img">
				<h3>Unfiltered Image</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img x-pro2">
				<h3>X-PRO2</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img willow">
				<h3>willow</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img waldon">
				<h3>waldon</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img valencia">
				<h3>valencia</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img toaster">
				<h3>toaster</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img sutro">
				<h3>sutro</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img sierra">
				<h3>sierra</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img rise">
				<h3>rise</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img nashville">
				<h3>nashville</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img mayfair">
				<h3>mayfair</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img Lo-Fi">
				<h3>Lo-Fi</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img kelvin">
				<h3>kelvin</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img inkwell">
				<h3>inkwell</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img hudson">
				<h3>hudson</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img hefe">
				<h3>hefe</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img earlybird">
				<h3>earlybird</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img brannan">
				<h3>brannan</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img amaro">
				<h3>amaro</h3>
				<img src="../img/bg.jpg">
			</div>
			<div class="ly-img i1977">
				<h3>i1977</h3>
				<img src="../img/bg.jpg">
			</div>
		</div>
		<hr>
    </div>
</div>
<!-- //container -->
</div>
</body>
</html>
