<!DOCTYPE html>
<html lang="ko">
<head>
<title>complete</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://smilesol85.github.io/blabla/common/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
            	<img src="http://tv01.search.naver.net/ugc?t=r180&q=http://imgnews.naver.com/image/076/2010/07/14/a7o74132_12.jpg" id="myImg">
            	<button type="button">image complete</button>
            </section>
        </div>
    </div>
	<script type="text/javascript" src="js/complete.js"></script>
</body>
</html>
