$font-family-base: '나눔고딕',NanumGothic,'Apple SD Gothic Neo',AppleGothic,'Droid Sans','Helvetica Neue',Helvetica,Roboto,'돋움',Dotum,Gulim,'굴림',sans-serif;
$font-size-base: 14px;
$background-color-base: #fff;
$border-form: #eee;
$input-height: 45px;
$placeholder-text-color: #b3b8be;

// @include ellipsis()
@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// @include ellipsis-multiline(2)
@mixin ellipsis-multiline($line) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

// @include border-top-radius(2px)
@mixin border-top-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

// @include border-bottom-radius(2px)
@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin animation-left($time, $type, $position) {
	-webkit-transform: $position;
	-moz-transform: $position;
	-ms-transform: $position;
	-o-transform: $position;
	transform: $position;

	transition-duration: $time;
	-ms-transition-duration: $time;
	-webkit-transition-duration: $time;
	-moz-transition-duration: $time;
	-o-transition-duration: $time;

	transition-timing-function: $type;
	-ms-transition-timing-function: $type;
	-webkit-transition-timing-function: $type;
	-moz-transition-timing-function: $type;
	-o-transition-timing-function: $type;
}

// @include loading()
@mixin loading() {
	-webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

// @include position-fixed()
@mixin position-fixed() {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0,0,0);
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	overflow-y: visible !important;
}

// @include border-box()
@mixin border-box() {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// mixin:opacity > @include opacity(0.8);
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity = $opacity-ie);
}

// mixin:fonts > @include fonts(14,18,200);
@mixin fonts($size: 14px, $lineHeight: 18px, $bold: false) {
	@if unitless($size) {
		// @warn "Assuming #{$size} to be in pixels";
		$size: 1px * $size;
	}
	@if unitless($lineHeight) {
		// @warn "Assuming #{$size} to be in pixels";
		$lineHeight: 1px * $lineHeight;
	}
	$pow: pow(10, 2);
	$lh: round($size / $lineHeight * $pow) / $pow;
	font-size: $size;
	line-height: (1 + $lh) * 1em;
	@if $bold {
		@if $bold == "thin" {
			font-weight: 100;
		}
		@else if $bold == "light" {
			font-weight: 300;
		}
		@else if $bold == "normal" {
			font-weight: 400;
		}
		@else if $bold == "bold" {
			font-weight: 700;
		}
		@else {
			font-weight: $bold;
		}
	}
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
	margin:0;
	padding:0;
	font:{
		weight: normal;
	}
}

body,input,textarea,select,button,table {
	@include border-box();
	-webkit-tap-highlight-color: rgba(0,0,0,0);
//	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: rgba(0,0,0,0);
//	-webkit-user-modify: read-write-plaintext-only;
	outline: none !important;

	font:{
		family: $font-family-base;
		size: $font-size-base;
		weight: normal;
	}
}

body {
//	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	background: {
		color: $background-color-base;
	}
}

em,address{
    font-style: normal;
}

img,fieldset {
	border: 0;
}

ul,ol,dl {
	list-style:none;
}

a {
	color:inherit;
	text-decoration:none;
}

input,select,textarea,button {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: $background-color-base;
	border: {
		width: 1px;
		style: solid;
		color: $border-form;
	}
	border-radius: 0;
	box-shadow: none;
	&:focus {
		border: {
			width: 1px;
			style: solid;
			color: $border-form;
		}
	}
	&:disabled {
		opacity: 1;
	}
}

input {
	width: 100%;
	height: $input-height;
	padding: 0 12px;
	font: {
		size: $font-size-base;
	}
}

// remove close buttin in input type search
//input[type="search"]::-webkit-search-decoration,
//input[type="search"]::-webkit-search-cancel-button,
//input[type="search"]::-webkit-search-results-button,
//input[type="search"]::-webkit-search-results-decoration {
//  display: none;
//}

textarea {
	width: 100%;
	font-size: $font-size-base;
}

::-webkit-input-placeholder{
	font-size: $font-size-base;
	color: $placeholder-text-color;
}

.loading{
	position:relative;
	width:30px;
	height:30px;
	border-width: 5px;
	border-style:solid;
	border-color:#eeeeee #eeeeee rgba(255,255,255,.5) rgba(255,255,255,.5);
	opacity:.9;
	border-radius:20px;
	-webkit-animation:rotate 1s linear infinite;
	-ms-animation:rotate 1s linear infinite;
}

@-webkit-keyframes rotate{
	0%{-webkit-transform:rotate(0deg)}
	100%{-webkit-transform:rotate(360deg)}
}

@-ms-keyframes rotate{
	0%{-ms-transform:rotate(0deg)}
	100%{-ms-transform:rotate(360deg)}
}

.table {
	display: table;
	table-layout:fixed;
	width: 100%;
	height: 100%;
	.table-row {
		display: table-row;
		vertical-align: middle;
	}
	.table-cell {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
	}
}

.hidden {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 0px;
	height: 0px;
	left: -500em;
	font-size: 1px;
}
