@charset "utf-8";

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
img,fieldset{border:0}
ul,ol,dl{list-style:none}
table{border-collapse:collapse}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
.blind{overflow:hidden;position:absolute;top:-1000em;left:-1000em;width:1px;height:1px;font-size:1px}
.dsc{margin:20px;padding:20px;border:1px dashed #aaa;background:#eee}
.highlight{background-color:yellow}
#wrap{position:relative;-webkit-text-size-adjust:none;font-family:verdana;font-size:0.75rem;color:#333}
header,footer,section{padding:10px}
article{margin-bottom:20px}

/* header */
header{border-bottom:1px solid #eee}

/* footer */
footer{border-top:1px solid #eee;text-align:center;}