<!DOCTYPE html>
<html lang="ko">
<head>
<title>spinbox</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="js/spinbox.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
                <fieldset>
                    <legend>spinbox (100 ~ 300)</legend>
                    <input type="text" class="number_spin">
                    <input type="button" value="▲" class="btn_up">
                    <input type="button" value="▼" class="btn_down">
                </fieldset>
            </section>
        </div>
    </div>
</body>
</html>
