$font-base: 'Helvetica Neue', Helvetica, Roboto, Sans-serif;
$background-form: #fff;
$border-form: #eee;

@mixin ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin ellipsis-multiline($line) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	word-break: break-all;
}

@mixin border-top-radius($radius) {
	-webkit-border-top-left-radius: $radius;
	-webkit-border-top-right-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-moz-border-radius-topright: $radius;
	border-top-left-radius: $radius;
	border-top-right-radius: $radius;
}

@mixin border-bottom-radius($radius) {
	-webkit-border-bottom-left-radius: $radius;
	-webkit-border-bottom-right-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-moz-border-radius-bottomright: $radius;
	border-bottom-left-radius: $radius;
	border-bottom-right-radius: $radius;
}

@mixin animation-swipe-a($time, $type, $position) {
	-webkit-transform: $position;
	-moz-transform: $position;
	-ms-transform: $position;
	-o-transform: $position;
	transform: $position;

	transition-duration: $time;
	-ms-transition-duration: $time;
	-webkit-transition-duration: $time;
	-moz-transition-duration: $time;
	-o-transition-duration: $time;

	transition-timing-function: $type;
	-ms-transition-timing-function: $type;
	-webkit-transition-timing-function: $type;
	-moz-transition-timing-function: $type;
	-o-transition-timing-function: $type;
}

@mixin loading() {
	-webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

.icon-loading:beroe {
     content: ‘\f29d’;
}

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: rgba(0,0,0,0);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: $font-base;
	font-size: 14px;
	outline: none !important;
}

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select {
	margin:0;
	padding:0;
	font:{
		size:   16px;
		weight: 300;
	}
}

em,address{
    font-style: normal;
}

body {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	background: {
		color: $color-bg-a;
	}
}

img,fieldset {
	border: 0;
}

ul,ol,dl {
	list-style:none;
}

a {
	color:inherit;
	text-decoration:none;
}

input,select,textarea,button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: $background-form;
	border: {
		width: 1px;
		style: solid;
		color: $border-form;
	}
	border-radius: 0;
	box-shadow: none;
	&:focus {
		-webkit-user-modify: read-write-plaintext-only;
		border: {
			width: 1px;
			style: solid;
			color: $border-form;
		}
	}
}

input {
	width: 100%;
	height: 45px;
	padding: 0 12px;
	font: {
		size: 21px;
	}
}

textarea {
	width: 100%;
	font-size: 15px;
}

/*
    #NOTE and 2.x position fixed
*/
.position-fixed {
     -webkit-backface-visibility: hidden;
     -webkit-transform: translate3d(0,0,0);
}

/*
    #NOTE text inverse
*/
//direction:rtl;
//unicode-bidi:bidi-override;

/*
    #NOTE display table
*/
.table {
	display: table;
	table-layout:fixed;
	width: 100%;
	height: 100%;
	.table-row {
		display: table-row;
		vertical-align: middle;
	}
	.table-cell {
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;
		text-align: center;
	}
}

.hidden {
	position: absolute;
	top: 0;
	left: -500em;
	font-size: 1px;
}
