@charset "utf-8";

.vending_machine{
	position:relative;
	width:300px;
	padding:10px;
	border:1px solid rgba(0,0,0,0.5);
	background-color:rgba(241,241,241,1);
}

.vending_machine #balance{
	text-align:right;
	color:red;
	font-size:18px;
}

.vending_machine .output{
	overflow-y:scroll;
	width:100%;
	height:200px;
	background-color:rgba(0,0,0,0.1);
	font-size:12px;
}

.vending_machine .snack{
	padding:5px;
	text-align:center;
}

.vending_machine .snack li{
	margin:5px 0;
	padding:10px;
	border:1px solid rgba(0,0,0,0.5);
}

.vending_machine .snack .btn_get{
	padding:2px 5px;
	border:1px solid rgba(0,0,0,0.5);
	background-color:rgba(247,57,58,1);
	color:rgba(255,255,255,1);
}

.person{
	position:relative;
	padding:40px;
}

.person .message{
	padding:5px;
}

.person .message .name:before{
	content:'* ';
}

.person .message strong{
	display:inline-block;
	margin:4px 0 0 20px;
	padding:5px;
	border:1px solid rgba(0,0,0,0.5);
	border-radius:10px;
	background-color:rgba(255,254,35,1);
	color:rgba(0,0,0,0.8);
}

.person .wallet{
	overflow:hidden;
	text-align:center;
}

.person .wallet button{
	float:left;
	margin:5px;
	padding:10px;
	border:1px solid rgba(0,0,0,0.5);
	background-color:rgba(0,0,0,0.1);
}