<!DOCTYPE html>
<html lang="ko">
<head>
<title>audio</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
                <article>
                    <h2>audio</h2>
                    <audio preload controls="controls" autoplay="autoplay" loop>
                        <source src="#" type="audio/mp3" />
                        <source src="#" type="audio/ogg" />
                    </audio>
                </article>
            </section>
        </div>
    </div>
</body>
</html>
