<!DOCTYPE html>
<html lang="ko">
<head>
<title>box-sizing</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	.box{width:100px;height:100px;margin:20px;border:10px solid #eee;background:#aaa;}
	.box2{box-sizing:border-box;}
	.box3{box-sizing:content-box;}
</style>
<script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
                <article>
                    <div class="box box2">box-sizing:border-box</div>
                </article>
                <article>
                    <div class="box box3">box-sizing:content-box</div>
                </article>
            </section>
        </div>
    </div>
</body>
</html>
