<!DOCTYPE html>
<html lang="ko">
<head>
<title>placeholder</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	.placeholder::-webkit-input-placeholder{color:red;}
	.textAlign{text-align:center}
</style>
<script src="http://code.jquery.com/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
                <input type="text" placeholder="텍스트를 입력">
                <input type="text" placeholder="텍스트를 입력" class="placeholder">
                <input type="text" placeholder="텍스트를 입력" class="textAlign">
            </section>
        </div>
    </div>
</body>
</html>
