<!DOCTYPE html>
<html lang="ko">
<head>
<title>video</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://smilesol85.github.io/blabla/common/jquery.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div class="container">
            <div class="lead">
            </div>
            <section>
                <article>
                    <h2>video</h2>
                    <video id="demoVideo" preload loop poster="" width="300" height="150">
                        <source src="http://takeswf.imbc.com/wwwflv/Content/20128/0817.mp4" type="video/mp4" />
                    </video>
                    <button class="play">재생</button>
                    <button class="pause">일시정지</button>
                    <button class="mute">음소거</button>
                    볼륨:<input id="volumecontrol" type="range" max="1" step="any">
                </article>
            </section>
        </div>
    </div>
    <script>
        var mediaVideo = document.getElementById("demoVideo");

        //비디오 재생
        function play(){
            mediaVideo.play();
            mediaVideo.volume = volumecontrol.value;
        }
        $('.play').click(function(){
            play();
        });

        //비디오 일시정지
        function pause(){
            mediaVideo.pause();
        }
        $('.pause').click(function(){
            pause();
        });

        //음소거
        function mute(){
            mediaVideo.muted = !mediaVideo.muted;
        }
        $('.mute').click(function(){
            mute();
        });

        //볼륨조절
        function updateVolume() {
            mediaVideo.volume = volumecontrol.value;
        }
        $('#volumecontrol').change(function(){
            updateVolume();
        });
    </script>
</body>
</html>
